https_port 443 accel defaultsite={{ ansible_domain }} \
    cert=/etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem \
    key=/etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem \
    options=NO_TLSv1:NO_SSLv3:NO_SSLv2:SINGLE_DH_USE:SINGLE_ECDH_USE:CIPHER_SERVER_PREFERENCE \
    cipher={% for cipher in squid_ciphers %}{{ cipher }}{% if not loop.last %}:{% endif %}{% endfor %} \
    tls-dh={{ squid_tls_dh_curve }}:{{ squid_dhparam_pem_file }} \
    sslflags=NO_SESSION_REUSE
http_port 80 accel

cache_dir ufs /var/spool/squid {{ squid_cache_mb }} {{ squid_cache_l1 }} {{ squid_cache_l2 }}

{% for host in squid_backend_servers %}
{% if 'blog' not in host.name %}
acl {{ host.name }} urlpath_regex ^/{{ host.name }}
{% else %}
acl {{ host.name }} dstdomain {{ ansible_domain }}
{% endif %}
{% endfor %}
acl ssl_redirect localport 80

{% if squid_alt_domains %}
{% for domain in squid_alt_domains %}
acl {{ domain.name }} dstdomain {{ domain.url }}
{% endfor %}
{% endif %}

{% if squid_alt_domains %}
{% for domain in squid_alt_domains %}
http_access deny {{ domain.name }}
deny_info https://{{ ansible_domain }}%R {{ domain.name }}
{% endfor %}
{% endif %}


http_access deny ssl_redirect blog
deny_info https://%H%R blog

sslproxy_cert_error allow ssl::certSelfSigned
sslproxy_cert_error allow ssl::certDomainMismatch

{% for host in squid_backend_servers %}
cache_peer {{ host.ip }} parent {{ host.port }} 0 no-query originserver name={{ host.name }} ssl login=PASS options=NO_SSLv3:NO_SSLv2 \
    cipher={% for cipher in squid_ciphers %}{{ cipher }}{% if not loop.last %}:{% endif %}{% endfor %} \
    tls-dh={{ squid_tls_dh_curve }}:{{ squid_dhparam_pem_file }} \
    sslflags=NO_SESSION_REUSE
{% if 'blog' in host.name %}
{% for deny_host in squid_backend_servers %}
{% if deny_host.name != 'blog' %}
cache_peer_access {{ host.name }} deny {{ deny_host.name }}
{% endif %}
{% endfor %}
http_access allow {{ host.name }}
{% else %}
cache_peer_access {{ host.name }} allow {{ host.name }}
cache_peer_access {{ host.name }} deny all
no_cache deny {{ host.name }}
http_access allow {{ host.name }}

{% endif %}
{% endfor %}

http_access deny to_localhost
http_access deny all

access_log /var/log/squid/access.log squid
